.payment-tabs h3 {
    margin-bottom: 30px;
}

.payment-tabs .form-control {
    margin-bottom: 15px;
}

.payment-tabs .checkbox {
    margin-left: 0;
    margin-top: 0;
}

.payment-main {
    margin-top: 60px;
    margin-bottom: 30px;
}

.payment-main .payment-tabs, .payment-main .cart-total {
    padding: 15px;
    margin-bottom: 30px;
}

.payment-tabs .nav-tabs, .payment-tabs .nav-tabs > li > a, .payment-tabs .nav-tabs > li.active > a, .payment-tabs .nav-tabs > li.active > a:focus {
    border: 0;
    margin: 0;
    background: none;
}

.payment-tabs .tab-content {
    margin-top: 15px;
}

.payment-tabs .nav-tabs > li {
    width: 50%;
    text-align: center;
}

.payment-tabs .nav-tabs > li + li {
    border-left: solid 1px #e7e7e7;
}

.payment-tabs .nav-tabs > li > a:hover, .payment-tabs .nav-tabs > li.active > a {
    background: none;
    color: #666;
}

.payment-tabs .nav-tabs > li > a {
    text-decoration: none;
    position: relative;
    padding: 0 0 8px 0;
    font-size: 16px;
    color: #ccc;
    display: inline-block;
}

.payment-tabs .nav-tabs > li > a:before {
    content: "";
    position: absolute;
    left: 50%;
    width: 40px;
    margin-left: -20px;
    bottom: 0;
    height: 2px;
    background: #336699;
    transition: all 0.3s ease-out;
    transform: scaleX(0);
}

.payment-tabs .nav-tabs > li.active > a:before, .featured .nav-tabs > li > a:hover:before {
    transform: scaleX(1);
}

.payment-main .cart-total {
    padding-bottom: 30px;
}

.payment-main .order-final {
    margin-top: 30px;
    width: 100%;
    padding: 10px;
    background: #336699;
    color: #fff;
    border: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.cart-brief tr {
    border-top: solid 1px #e7e7e7;
}

.cart-brief tr:last-child {
    border-bottom: solid 1px #e7e7e7;
}

.cart-brief .cart-p-thumbnail {
    width: 70px;
    height: 100px;
    padding: 20px 10px 20px 0;
    position: relative;
}

.cart-brief .cart-p-thumbnail img {
    border: solid 1px #ccc;
}

.cart-brief .cart-p-thumbnail > .cart-p-qty {
    position: absolute;
    top: 12px;
    right: 2px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    background: #336699;
    color: #fff;
    text-align: center;
    font-size: 12px;
}

.cart-brief .cart-p-price {
    width: 80px;
    text-align: right;
}
.cart-total > table th {
    width: 70%;
    font-size: 16px;
    padding: 6px;
}
td.product-price::after, td.product-subtotal::after, .cart-subtotal td::after, .cart-discount td::after, .amount::after, .deli-fee td::after {
    content: '₫';
}
.cart-total > table .order-total .amount {
    font-weight: 700;
    font-size: 22px;
    color: #336699;
}