.account-main {
    margin: 80px auto;
}
.wishlist-container {
    margin: 80px 0;
}
.wishlist-container .product-action button.link-to {
    border: 0;
    outline: none;
    margin: 20px 0;
    padding: 10px;
}

.cart-container {
    background: #ffffff;
    padding: 40px 30px;
    margin: 40px 0;
    border: 1px solid #e7e7e7;
}
.cart-container table.cart {
    text-align: left;
    width: 100%;
    table-layout: fixed;
}
.cart-container table.cart img {
     width: 85px;
     height: auto;
     border: 1px solid #e7e7e7;
 }
.cart-container table.cart td {
    border-top: 1px solid #e7e7e7;
    padding: 30px 0;
    font-size: 14px;
    font-weight: 600;
    /*text-transform: uppercase;*/
}
.cart-container table.cart th {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    padding: 20px 0;
    color: #ffffff;
    background: #336699;
}
.cart-container table.cart .product-name {
    width: 22%;
}
.cart-container table.cart .product-price{
    width: 16%;
}
.cart-container table.cart .product-thumbnail {
    width: 20%;
    padding-left: 20px;
}
.wishlist-container .product-status {
    width: 16%;
}
.wishlist-container .product-action {
    width: 22%;
}
td.product-price::after, td.product-subtotal::after, .cart-subtotal td::after, .cart-discount td::after, .amount::after, .deli-fee td::after,.product-total-price::after {
    content: '₫';
}

.cart-container table.cart .product-remove {
    width: 4%;
    text-align: center;
}
@media (min-width: 992px) {
    .wishlist-container .product-action button.link-to .fa {
        transform: translateX(-100px);
        opacity: 0;
        transition: all 0.4s ease;
    }

    .wishlist-container .product-action button.link-to span {
        display: inline-block;
        transform: translateX(10px);
        transition: all 0.4s ease;
    }

    .wishlist-container .product-action button.link-to:hover .fa {
        transform: translateX(0);
        opacity: 1;
    }

    .wishlist-container .product-action button.link-to:hover span {
        transform: translateX(0);
    }
}

@media (max-width: 991px) {
    .wishlist-container .product-action {
        width: 8%;
    }

    .wishlist-container .product-status {
        width: 22%;
    }

    .wishlist-container.cart-container table.cart .product-name {
        width: 30%;
    }

    .wishlist-container .product-action button.link-to {
        padding: 5px;
        background: transparent;
        color: #336699;
    }

    .wishlist-container .product-action button.link-to::before, .wishlist-container .product-action button.link-to::after {
        border: 0;
    }
}

@media (max-width: 420px) {
    .wishlist-container th.product-status, .wishlist-container th.product-action {
        width: 0;
    }

    .wishlist-container td.product-action {
        transform: translate(-23px, -15px);
    }

    .wishlist-container td.product-status {
        transform: translate(-90px, 15px);
    }

    .wishlist-container td.product-status span {
        display: inline-block;
        width: 70px;
    }
}